.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    margin: auto;
}
.flex-row {
    display: flex;
    flex-direction: row;
    width: 900px;
    padding-top: 25px;
}
#about-me-column {
    border: 5px solid #C00000;
    padding-left: 7px;
    width: 100%;
}
#contact-me-column {
    border-top: 5px solid #C00000;
    border-right: 5px solid #C00000;
    border-bottom: 5px solid #C00000;
    padding-bottom: 50px;
    width: 100%;
}
p {
    margin: 0;
}
ol {
    margin: 0;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-underline {
    text-decoration: underline;
}
img {
    height: 250px;
}
#title-line {
    border-bottom: 4px solid #20B966;
    width: 65%;
    padding-bottom: 8px;
    font-size: 200%;
}
#subheader-line {
    padding-top: 20px;
    padding-bottom: 20px;
}
.form-box {
    border: 1px solid rgb(207, 205, 205);
    border-radius: 6px;
    width: 75%;
    margin: auto;
    padding: 15px;
    text-align: center;
} 
  form > div {
    margin: 10px 0;
}
button {
    background: white;
    border-radius: 6px;
}